.header {
}
.header__nav {
    color: #7D7D7D;
font-family: Playfair Display;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.header__nav__list {
}
.header__nav__item {
}
.header__nav__link {
}